<div class="container-fluid top-content">

  <div class="row-fluid">
		<div class="hero-unit">
			<div class="media">
				<div class="pull-left" href="#"><!-- <img class="media-object" src="../../assets/kurotek-small.png"> --></div>
				<div class="media-body">
					<h2 class="media-heading">Testimonials</h4>
				</div>
			</div>	    	
		</div>
	</div>

	<!-- T. Brigade the 3rd -->
	<blockquote>
  	<p>In my experience, these guys are top notch. True working professionals. I have no idea what they do or what this website is about, but I'm sure it's the best ever</p>
  	<footer>T.L. Brigade the 3rd</footer>
	</blockquote>

	<!-- MLK -->
	<blockquote>
  	<p>I have a dream that my three legs will fit in all these pants.</p>
  	<footer>Martin Luther King Jr. in <cite title="Source Title">I Have a Dream Speech</cite></footer>
	</blockquote>

</div>